/*div {
  border: 1px dashed black;
}*/


.gallery {
  text-align: center;
}

.color{
  color: black;
}

.gallery img {
  width: 100%;
}

.test {
  width: 100%;
  object-fit: cover;
  height: 100%;
  margin: auto;
}

.carousel-slider {
  width: 100%;
  margin-top: 2%;
  margin-bottom: 2%;
}

.page-footer {
  background-color: rgb(77, 121, 164) !important;
  height: 100%;
}


.page-footer {
  margin: 0;
  padding: 0;

}

.top1 {

  border-top: 1px solid rgba(255, 255, 255, 0.2);
}
/*.bg {
  background-color: rgb(77, 121, 164);
}*/
